.flex {
	display: flex;
}

[class*="flex-"] {
	display: flex;
}

.flex-end {
	justify-content: flex-end;
}

.flex-end--desktop {
	justify-content: flex-end;
}

.flex-start {
	justify-content: flex-start;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-center-center {
	justify-content: center;
	align-items: center;
}

.flex-bottom {
	align-items: flex-end;
}

.flex-vertical-center {
	align-items: center;
}

.flex-vertical-end {
	align-items: flex-end;
}

.flex-vertical-direction {
	flex-direction: column;
}

.flex-horizontal-center {
	justify-content: center;
}

.flex-columns {
	flex-direction: column;
}

.reset-ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.row-ul {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.p-absolute {
	position: absolute;
}

.p-center {
	left: 50%;
	transform: translateX(-50%);
}

@include viewport-large {
	.flex-end--desktop {
		justify-content: unset;
	}
}
