<template>
    <div v-if="value" class="col-12 l-py-s">
        <div class="row">
            <div class="col-md-5 ">
                <h2 class="h3 c-mb-m c-mt-l">{{value.Headline}}</h2>
                <p class="c-my-reset"> {{value.Text}}</p>
                <nuxt-link v-if="value.CTA && value.CTA.cached_url" class="cta-link c-mt-l" :to="`/${value.CTA.cached_url}/`">{{value.CTA_Text}} </nuxt-link>
            </div>
            <div class="col-md-7">
                <div class="image-grid">
                    <div class="image-grid__item" v-for="image in value.Images" :key="image.id">
                        <ImageComponent :image-src="image.filename" :config="'/m/470x400/'" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup lang="ts">
    import {ICmsImageGrid} from "~/interfaces/ICmsImageGrid";

    defineProps({
        value: Object as () => ICmsImageGrid,
    })
</script>
<style src="./ImageGrid.scss" lang="scss" scoped> </style>