.image-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 400px);
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    margin-right: -5rem;
}
    
.image-grid__item:nth-of-type(1) { grid-area: 1/1/1/5; }
.image-grid__item:nth-of-type(2) { grid-area: 2/11/1/5; }
.image-grid__item:nth-of-type(3) { grid-area: 2/7/2/1; }
.image-grid__item:nth-of-type(4) { grid-area: 2/11/2/7; }

@media only screen and (min-width:1500px){
    .image-grid {
        margin-right: -15px;
    }
}