<template>
	<div v-if="data">
        <HeroSlider :data="data.content.Hero_items" :simple="true"/>
		<div class="main-grid">
            <div class="row background-color--F1EAE7">
                <div class="col-md-9 offset-md-3">
                    <p class="c-mb-reset l-mt-sm p-small">Interview by {{data.content.Author}}</p>
                    <h2 class="h1 text-black c-mt-m c-mb-m">{{data.content.Headline}}</h2>
                    <p class="text-teaser c-mt-reset c-mb-m">
                        {{data.content.Teaser}}
                    </p>
                    <div class="l-mb-sm">
                         <vue-markdown :source="data.content.Text" />
                    </div>
                </div>
            </div>
			<div
				class="row"
				v-for="block in data.content.blocks"
				:key="block._uid"
			>
				<component
					:class="`background-color--${block != null && block.Background_color != null ? block.Background_color.replace('#', ''): ''}`"
					:is="formatComponent(block != null && block.component != null ? block.component: '')"
					:value="block"
				/>
			</div>
		</div>
	</div>
</template>
<script setup lang="ts">
    import VueMarkdown from "vue-markdown-render"
	import { ICmsPage } from "~~/interfaces/CmsPage";

	const items = defineProps({
		data: Object as () => ICmsPage,
	});

    defineComponent({
        VueMarkdown
    })


	const formatComponent = (value) => useFormatComponent(value);
</script>
