<template>
	<div v-if="data">
		
		<div class="main-grid">
            <div class="row">
                <h1>{{data.content.Title}}</h1>
            </div>
			<div
				class="row"
				v-for="block in data.content.Blocks"
				:key="block._uid"
			>
				<component
					:class="`background-color--${block != null && block.Background_color != null ? block.Background_color.replace('#', ''): ''}`"
					:is="formatComponent(block != null && block.component != null ? block.component: '')"
					:value="block"
				/>
			</div>
		</div>
	</div>
</template>
<script setup lang="ts">
	import { ICmsPage } from "~~/interfaces/CmsPage";

	defineProps({
		data: Object as () => ICmsPage,
	});

	const formatComponent = (value) => useFormatComponent(value);
</script>
