<template>
	<div v-if="data">
		<HeroSlider :data="data.content.Hero" />
		<div class="main-grid">
			<div
				class="row"
				v-for="block in data.content.body"
				:key="block._uid"
			>
				<component
					:class="`background-color--${block != null && block.Background_color != null ? block.Background_color.replace('#', ''): ''}`"
					:is="formatComponent(block != null && block.component != null ? block.component: '')"
					:value="block"
				/>
			</div>
		</div>
	</div>
</template>
<script setup lang="ts">
	defineProps(["data"]);
	const formatComponent = (value) => useFormatComponent(value)
	
</script>
