<template>
	<div v-if="value" class="col-12 l-py-m">
		<div class="row">
			<div class="col-md-7">
				<ImageComponent :image-src="value.Image.filename" :config="'/m/759x455/'" style="aspect-ratio: 73/43" />
			</div>
			<div class="col-md-5">
				<div class="content-wrapper">
					<h2 class="h3 c-mt-reset c-mb-ml">{{ value.Headline }}</h2>
					<p class="h3 c-mt-reset c-mb-xl">{{ value.Text }}</p>
					<nuxt-link v-if="value.CTA && value.CTA.cached_url" class="cta-link cta-link--black" :to="`/${value.CTA.cached_url}/`">
						{{value.CTA_Text}}
					</nuxt-link>
				</div>
			</div>
		</div>
	</div>
</template>
<script setup lang="ts">
	import { ICmsSixtyFourty } from "~/interfaces/ICmsSixtyFourty";
	defineProps({
		value: Object as () => ICmsSixtyFourty,
	});
</script>
<style lang="scss" scoped src="./SixtyFourty.scss"></style>
