@import "../../assets/styles/settings/vars";
@import "../../assets/styles/tools/mixins";
@import "../../assets/styles/tools/helping-classes";
@import "../../assets/styles/settings/spacing";
.header {
    position:fixed;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100vw;
    padding-top: spacing(component, l);
    padding-bottom: spacing(component, l);
    transition: background-color $transition--fast;

    &__logo {
        width: 6.3rem;
        height: 4.2rem;
        fill: $color-white;
        transition: fill $transition--fast;
    }

    &__link-item {
        display: block;
        font-size: 1.8rem ;
        line-height:2.4rem;
        letter-spacing: 0.075rem;
        margin-left: spacing(component, l);
        

        &:nth-of-type(1) { 
            margin-left: 0;
        }
    }

    &__link-item a {
        color: $color-white;
        transition: color $transition--fast;
    }
}

.header.has-scroll {
    background-color: rgba($color-gray-cod, 1);

    // filter: blur(1.5rem)
    // .header__logo {
    //     fill: $color-black;
    // }

    // .header__link-item a {
    //     color: $color-black;
    // }
}