<template>
	<header class="header" :class="{'has-scroll':hasScrolledByHero}">
		<div class="main-grid">
			<div class="row">
				<nuxt-link to="/" class="col-md-1">
					<SvgIcon class="header__logo" icon-name="icon__logo" />
				</nuxt-link>
				<nav class="col flex-end flex-vertical-center">
					<ul class="flex-end reset-ul">
						<li v-for="item in 4" :key="item" class="header__link-item">
							<nuxt-link  :to="'/'">Type something</nuxt-link>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
</template>
<script setup lang="ts">
    let hasScrolledByHero = ref(false);
    onBeforeMount(() => {
        window.addEventListener("scroll", () => {
            const hero = document.querySelector(".hero-slider");
            if(hero.getBoundingClientRect().bottom < 100) {
                hasScrolledByHero.value = true;
            } else {
                hasScrolledByHero.value = false;
            }
        })
    })
</script>
<style lang="scss" scoped src="./TheHeader.scss"></style>
