<template>
	<div style="display: none">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			id="icon__logo"
			viewBox="0 0 63 42"
		>
			<g fill-rule="evenodd">
				<path
					d="M48.0091277,0.869907144 L48.0091277,0.869907144 L48.0091277,0.869907144 C47.1814151,-0.289969048 45.8397535,-0.289969048 45.0120409,0.869907144 L36.2725109,13.1182591 C33.6368367,16.8123386 29.3634184,16.8123386 26.7274445,13.1182591 L17.9879145,0.869907144 L17.9882142,0.869907144 L17.9882142,0.869907144 C17.1605016,-0.289969048 15.8185404,-0.289969048 14.9908278,0.869907144 L14.9908278,0.869907144 L0,21.879854 L0,21.879854 C0.827712579,23.0400272 2.16937413,23.0400272 2.99708671,21.879854 L7.66158573,15.342667 C12.5370586,8.5096448 20.4419834,8.5096448 25.3174562,15.342667 L29.9819553,21.879854 C30.4006064,22.4670692 30.9511162,22.7557759 31.5001276,22.7486473 C32.0488393,22.7557759 32.599349,22.4670692 33.0182999,21.879854 L37.6827989,15.342667 C42.5582717,8.5096448 50.4628969,8.5096448 55.3383697,15.342667 L60.0028687,21.879854 C60.8305813,23.0400272 62.1725425,23.0400272 62.9999554,21.879854 L48.0091277,0.869907144 Z"
				/>
				<path
					d="M48.0091277,20.1198947 L48.0091277,20.1198947 L48.0091277,20.1198947 C47.1814151,18.960017 45.8397535,18.960017 45.0120409,20.1198947 L36.2725109,32.3682627 C33.6368367,36.0623469 29.3634184,36.0623469 26.7274445,32.3682627 L17.9879145,20.1198947 L17.9882142,20.1198947 L17.9882142,20.1198947 C17.1605016,18.960017 15.8185404,18.960017 14.9908278,20.1198947 L14.9908278,20.1198947 L0,41.129869 L0,41.129869 C0.827712579,42.2900437 2.16937413,42.2900437 2.99708671,41.129869 L7.66158573,34.5926734 C12.5370586,27.7596423 20.4419834,27.7596423 25.3174562,34.5926734 L29.9819553,41.129869 C30.4006064,41.7170849 30.9511162,42.005792 31.5001276,41.9986634 C32.0488393,42.005792 32.599349,41.7170849 33.0182999,41.129869 L37.6827989,34.5926734 C42.5582717,27.7596423 50.4628969,27.7596423 55.3383697,34.5926734 L60.0028687,41.129869 C60.8305813,42.2900437 62.1725425,42.2900437 62.9999554,41.129869 L48.0091277,20.1198947 Z"
				/>
			</g>
		</svg>
	</div>
</template>
