<template >
	<svg xmlns="http://www.w3.org/2000/svg">
      <use
        :xlink:href="`#${iconName}`"
      />
    </svg>
</template>
<script setup lang="ts">
	defineProps({
		iconName: {
			type: String,
			required: true,
		},
	});
</script>
