@import "../../assets/styles/settings/vars";

.hero-slider {
    width: 100vw;
    .hero-slider-item__image {
        aspect-ratio: 16 / 10;
        position: absolute;
        left: 0;
        right: 0;
        /* height: 0; */
        top: 0;
        bottom: 0;
    }

    &--simple .hero-slider-item {
        aspect-ratio: 120/43;
    }

    &--simple .hero-slider-item__image {
        aspect-ratio: 120 / 43;
    }
}

.hero-slider-item {
    color: $color-white-pampas;
    aspect-ratio: 16/10;
    &__wrapper {
        width: 100%;
        height:100%;
    }
    &__content {
        position: absolute;
        z-index: 1;
    }
}


.swiper-button-prev {
    left:100px;
}

.swiper-button-next {
    right: 100px;
}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 27px;
    color: $color-pink-hit;
}
.swiper-pagination {
    bottom: 12rem !important;
}
.swiper-pagination-bullet {
    transition: background-color $transition;
    border: 2px solid $color-pink-hit;
    opacity: 1;
    background-color: transparent;
    width:1rem;
    height:1rem;
}

.swiper-pagination-bullet-active {
    background-color: $color-pink-hit;
}