<template>
	<swiper
		v-if="data.length > 1"
		class="hero-slider"
		:class="{ 'hero-slider--simple': simple }"
		:slides-per-view="1"
		:loop="true"
		navigation
		:pagination="{ clickable: true }"
	>
		<swiper-slide
			v-for="(heroItem, index) in data"
			:key="heroItem._uid"
			class="hero-slider-item"
		>
			<!-- <img
				class="hero-slider-item__image"
				:src="heroItem.Image.filename"
				alt=""
			/> -->
			<div class="hero-slider-item__wrapper flex-vertical-center">
				<ImageComponent
					class="hero-slider-item__image"
					:image-src="heroItem.Image.filename"
					:config="'/m/fit-in/'"
				/>
				<div class="main-grid p-absolute p-center">
					<div class="row">
						<div class="col-md-5 offset-md-1">
							<h1 v-if="index === 0">{{ heroItem.Headline }}</h1>
							<h2 class="h1" v-else>{{ heroItem.Headline }}</h2>
							<nuxt-link
								v-if="heroItem.CTA.cached_url != ''"
								class="cta-link"
								:to="`/${heroItem.CTA.cached_url}/`"
							>
								{{ heroItem.CTA_Text }}
							</nuxt-link>
						</div>
					</div>
				</div>
			</div>
		</swiper-slide>
	</swiper>
	<div v-else class="hero-slider" :class="{ 'hero-slider--simple': simple }">
		<div class="hero-slider-item flex-vertical-center">
			<!-- <img
				class="hero-slider-item__image"
				:src="data[0].Image.filename"
				alt=""
			/> -->

			<ImageComponent
				class="hero-slider-item__image"
				:image-src="data[0].Image.filename"
				:config="'/m/1440x0/'"
			/>

			<div class="main-grid p-absolute p-center">
				<div class="row">
					<div class="col-md-8 offset-md-1">
						<h1>{{ data[0].Headline }}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script setup lang="ts">
	import { Swiper, SwiperSlide } from "swiper/vue";
	import SwiperCore, { Pagination, Navigation } from "swiper";
	import { IHeroItem } from "~/interfaces/IHeroItem";
	import "swiper/css";
	import "swiper/css/pagination";
	import "swiper/css/navigation";

	defineProps({
		data: Object as () => IHeroItem[],
		simple: {
			type: Boolean,
			default: false,
		},
	});

	defineComponent({
		Swiper,
		SwiperSlide,
	});

	SwiperCore.use([Pagination, Navigation]);
</script>
<style lang="scss" src="./HeroSlider.scss"></style>
