// main grid wrap
.main-grid {
	@include grid;
}

.main-grid {
	@include setGutter($gutter-full-hd);
}

@include viewport-custom-max(1536px) {
	// main grid wrap
	.main-grid {
		@include grid-1440;
		@include setGutter($gutter-default);
	}
}

@include viewport-medium {
	// main grid wrap
	.main-grid {
		@include grid-mobile;

		@include setGutter($gutter-mobile);
	}
}
