* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	// @include font-primary;

	@extend %p-default;
}


img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}
