// typography

h1,
.h1 {
    font-size: clamp(4rem, rem-to-vw(9rem), 9rem);
    line-height: clamp(5rem, rem-to-vw(10rem), 10rem);
    @include font-primary--bold;
}

h2,
.h2 {
    font-size: clamp(4rem, rem-to-vw(6.4rem), 6.4rem);
    line-height: clamp(5rem, rem-to-vw(7.6rem), 7.6rem);
    @include font-primary--bold;
}

h2,
.h2 {
    font-size: clamp(3.2rem, rem-to-vw(4.5rem), 4.5rem);
    line-height: clamp(3.6rem, rem-to-vw(5rem), 5rem);
    @include font-primary--bold;
}



%p-default {
    font-size: clamp(1.4rem, rem-to-vw(1.6rem), 1.6rem);
    line-height: clamp(2.1rem, rem-to-vw(2.6rem), 2.6rem);
    @include font-primary;
}

.p-default {
    @extend %p-default;
}

.p-small {
    font-size: clamp(1.4rem, rem-to-vw(1.4rem), 1.4rem);
    line-height: clamp(1.8rem, rem-to-vw(1.8rem), 1.8rem);
    @include font-primary--medium;
}

.text-teaser {
    font-size: clamp(1.4rem, rem-to-vw(1.6rem), 1.6rem);
    line-height: clamp(2.1rem, rem-to-vw(2.6rem), 2.6rem);
    font-style: italic;
    @include font-primary--bold;
}

.text-black {
    color: $color-gray-cod;
}