@import "../../assets/styles/settings/vars";
@import "../../assets/styles/tools/mixins";
@import "../../assets/styles/tools/helping-classes";
@import "../../assets/styles/settings/spacing";
.footer {
    position: relative;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100vw;
    background-color: $color-gray-cod;
    padding-bottom: 30rem;

    &__logo {
        width: 6.3rem;
        height: 4.2rem;
        fill: $color-white;
        transition: fill $transition--fast;
    }

    &__headline,
    &__link-header,
    &__link {
        color: $color-white-linen;
    }

    &__link-header {
        font-size: 2rem;
        line-height: 2.6rem;
    }

    &__link {
        display: block;
        margin-bottom: spacing(component, s);

        &:nth-last-of-type(1) { 
            margin-bottom: 0;
        }
    }

    &__link-wrapper {
        margin: 0 6rem;
    }

}