<template>
	<footer class="footer c-pt-l">
		<div class="main-grid">
			<div class="row">
				<div class="col-1">
					<SvgIcon class="footer__logo" icon-name="icon__logo" />
				</div>
			</div>
			<div class="row">
				<div class="col-12 flex-horizontal-center">
					<p class="h2 l-mt-m l-mb-s footer__headline">Monoscape</p>
				</div>
			</div>
            <div class="row">
                <ul class="col-12 reset-ul flex-horizontal-center">
					<li class="footer__link-wrapper">
                        <p class="footer__link-header c-mt-reset">About</p>
                        <nuxt-link class="footer__link"  :to="'/'">The story</nuxt-link>
                        <nuxt-link class="footer__link" :to="'/'">Experiences</nuxt-link>
                    </li>
                    <li class="footer__link-wrapper">
                        <p class="footer__link-header c-mt-reset">Events</p>
                        <nuxt-link class="footer__link" :to="'/'">Upcomming</nuxt-link>
                        <nuxt-link class="footer__link" :to="'/'">Timeline</nuxt-link>
                    </li>
                    <li class="footer__link-wrapper">
                        <p class="footer__link-header c-mt-reset">About</p>
                        <nuxt-link class="footer__link" :to="'/'">Instagram</nuxt-link>
                        <nuxt-link class="footer__link" :to="'/'">Facebook</nuxt-link>
                    </li>
				</ul>
            </div>
		</div>
	</footer>
</template>
<script setup lang="ts"></script>
<style lang="scss" scoped src="./TheFooter.scss"></style>
