<template>
	<picture>
		<source
			type="image/webp"
			:srcset="transformImage(imageSrc, config + 'filters:format(webp)')"
		/>
		<source
			type="image/png"
			:srcset="transformImage(imageSrc, config + 'filters:format(png)')"
		/>
		<img
			:src="transformImage(imageSrc, config)"
		/>
	</picture>
</template>
<script setup lang="ts">
	defineProps({
		imageSrc: String,
        config: String,
	});
	const transformImage = (image, config) => {
		if (!image) return "";
		if (!config) return "";

		return image + config;
	};
</script>