// fonts

@mixin font-primary {
	font-family: 'DM Sans', sans-serif;
}

@mixin font-primary--medium {
	font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

@mixin font-primary--bold {
	font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}
