// basic colors
$color-black: #000;
$color-white: #fff;


// white 
$color-white-linen: #FCF6F2;
$color-white-pampas: #F1EAE7;

// pink
$color-pink-hit: #FEAE7F;

// gray
$color-gray-cod: #151514;

// layout - grid
$grid-max-width: 1318px;
$grid-max-width-full-hd: 1606px;
$grid-min-width: 352px;


// layout - gutter
$gutter-full-hd: 1.2rem;
$gutter-default: 1.2rem;
$gutter-mobile: .3rem;

// screen width
$default-screen-width: 1440px;

// transitions
$transition--cubic: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$transition: 0.5s $transition--cubic;
$transition--slow: 0.9s $transition--cubic;
$transition--fast: 0.4s $transition--cubic;
$transition--extra-fast: 0.6s $transition--cubic;

//------- Media queries -------//
$viewport-extra-small: 350px; // 350px
$viewport-small: 576px; // 576px
$viewport-medium: 992px; // 992px
$viewport-large: 1025px; // 1025px
$viewport-extra-large: 1440px; // 1200px
$viewport-max: 1920px; // 1920px
