div[class*="background-color"] {
    position: relative;
    z-index: 1;

    &::after {
        z-index: -1;
        content:'';
        position: absolute;
        height: 100%;
        width: 100vw;
        top: 50%;
        left:50%;
        transform: translate3d(-50%, -50%, 0);
    }
}

.background-color--315035 {
    color: $color-white-pampas;
    &:after {
        background-color: #315035;
    }
}

.background-color--F1EAE7 {
    &:after {
        background-color: #F1EAE7;
    }
}

.background-color--FCB58F {
    &:after {
        background-color: #FCB58F;
    }
}
