//buttons

.cta-link {
    min-width: 29rem;
    height:6.2rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    border-radius: 32px;
    border: 1px solid $color-white-linen;
    font-size: 2.1rem;
    line-height: 2.8rem;
    color: $color-white-linen;
    @include font-primary--bold;

    &--black {
        color: $color-gray-cod;
        border-color: $color-gray-cod;
    }
}