<template>
	<div v-editable="state">
		<component v-if="data" :is="data.content.component" :data="data" />
	</div>
</template>
<script setup lang="ts">
	import useSetMeta from "~~/composables/useSetMeta";
	import { useStoryblokBridge, useStoryblokApi } from "@storyblok/vue";
	import { ICmsPage } from "~~/interfaces/CmsPage";

	const { data } = useAsyncData("data", async (ctx) => {
		let route = ctx.$router.currentRoute.value.path;
		const storyblokApi = useStoryblokApi();
		if (route === "/") {
			route = "home";
		}
		const { data }: { data: { story: ICmsPage }, error: any } = await storyblokApi.get(
			`cdn/stories/${route}`,
			{
				version: "draft",
			}
		)
		return { ...data.story };
	});

	if (data.value != null && data.value.content != null) {
		useSetMeta({
			title: data.value.content.Title,
			description: data.value.content.description,
			image: data.value.content.Seo_image,
		});
	}

	const state = reactive({ story: data });
	onMounted(() => {
		if (state.story && state.story.id) {
			useStoryblokBridge(
				state.story.id,
				(story) => (state.story = story)
			);
		}
	});

</script>
