<template>
    <div v-if="value" class="col-12 l-py-s">
        <div class="row">
            <div  class="offset-md-2 col-md-8">
                <h2 class="c-mb-m c-mt-reset">{{value.Headline}}</h2>
                <p class="c-mb-xl"> {{value.Teaser}}</p>
            </div>
            <div class="offset-md-2 col-10">
                <video :src="value.Video.filename" style="aspect-ratio:212/119; width: 100%" controls></video>
            </div>
        </div>
    </div>
</template>
<script setup lang="ts">
    import {ICmsVideo} from "~/interfaces/ICmsVideo";
    
    defineProps({value: Object as () => ICmsVideo})
</script>
