.simple-image {
    width: 100vw;
    position: relative;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    aspect-ratio: 72 / 35;

    img {
        width: 100vw;
        display: block;
    }
}