<template>
	<ImageComponent
		v-if="value"
		class="simple-image"
		:image-src="value.image.filename"
		:config="'/m/1440x0/'"
	/>
</template>
<script setup lang="ts">
	import { ICmsImage } from "~~/interfaces/ICmsImage";

	defineProps({
		value: Object as () => { image: ICmsImage },
	});
</script>
<style lang="scss" src="./SimpleImage.scss" ></style>
